/* styles.css */

/* Style global pour l'application */
.root {
    -fx-background-image: url("photo.jpg");
    -fx-background-repeat: no repeat;
    -fx-background-size: cover;
    -fx-background-color: #f4f4f4;
    -fx-font-family: "Arial";
    -fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, 0.5, 0, 0);
}

/* Style pour les Labels */
.label {
    -fx-text-fill: #333333;
    -fx-font-weight: bold;
    -fx-alignment: center;
}

/* Style pour le label principal */
.label-title {
    -fx-text-fill: #2c3e50;
    -fx-font-size: 30px;
    -fx-alignment: center;
}

/* Style pour les TextFields et PasswordFields */
.text-field, .password-field {
    -fx-border-color: #bdc3c7;
    -fx-border-width: 1px;
    -fx-background-color: #ecf0f1;
    -fx-padding: 5px;
    -fx-font-size: 16px;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-alignment: center;
    -fx-max-width: 300px; /* Limite la largeur des champs de texte */
}

/* Style pour les Buttons */
.button {
    -fx-background-color: #3498db;
    -fx-text-fill: white;
    -fx-padding: 10px 20px;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
    -fx-font-size: 14px;
    -fx-cursor: hand;
    -fx-alignment: center;
}

.button:hover {
    -fx-background-color: #2980b9; /* Couleur de fond au survol */
}

.button-forgot {
    -fx-background-color: transparent;
    -fx-text-fill: #e74c3c;
    -fx-font-size: 12px;
    -fx-cursor: hand;
    -fx-alignment: center;
}

.button-forgot:hover {
    -fx-text-fill: white; /* Couleur du texte au survol */
}
