.root {
    -fx-background-image: url("https://wallpaperaccess.com/full/5488178.jpg");
    -fx-background-size: cover; /* Ajuste l'image pour qu'elle couvre toute la zone */
    /*-fx-background-position: center;*/
    -fx-background-repeat: no-repeat; /* Empêche la répétition de l'image */

}


.button {
    -fx-border-radius: 20px;
    -fx-padding: 5 22 5 22;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 20px;
    -fx-background-color:#965695;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
    -fx-text-fill: #fffff;
}
.text-field {
    -fx-background-color: #e4d6f8;

}

